* {
	padding: 0;
	margin: 0;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(img/ellipsis.gif) center no-repeat #fff;
}

.head {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #000;
	text-align: center;
	font-family: 'Sarabun', sans-serif;
}

.greet-name {
	color: #fff;
	font-size: 50px;
}

#name {
	color: #00a3a3;
}

.description {
	margin-top: 20px;
	font-size: 20px;
	color: #fff;
}

.content {
	max-width: 100%;
	padding-top: 20px;
	font-family: 'Sarabun', sans-serif;
}

.content #content-boxes {
	max-width: 33%;
	display: inline-block;
	vertical-align: middle;
}

#div-title {
	color: #00a3a3;
	margin-bottom: 25px;
	letter-spacing: 2px;
}

.about {
	padding: 40px;
}

#resume-download {
	padding: 10px;
	padding-bottom: 15px;
	border: 0;
	background-color: #00a3a3;
	color: #fff;
	font-family: 'Sarabun', sans-serif;
	font-size: 15px;
	text-decoration: none;
}

#resume-download:hover {
	background-color: #008282;
}

.my-image {
	padding: 20px;
}

.my-image img {
	border-radius: 50%;
	border: 5px solid #00a3a3;
}

.contact {
	padding: 40px;
}

.contact p {
	padding: 2px;
}
.contact p img {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

#social-media-icons {
	width: 100%;
	margin-top: 20px;
}
#social-media-icons img {
	width: 40px;
	height: 40px;
	margin-right: 5px;
	float: left;
}

.footer {
	padding: 20px;
	font-family: 'Sarabun', sans-serif;
}

.footer #footer-items a {
	text-decoration: none;
	text-transform: uppercase;
	color: #00a3a3;
}

.footer #footer-items a:hover {
	color: #008282;
}

.footer #copyright {
	color: #000;
}
